dialog {
    --dialog-border-color: var(--border); 
    opacity: 0;
    translate: 0 -25vh;
    transition: translate 0.6s ease, opacity 0.6s ease;
    border: var(--border);
    box-shadow: var(--shadow-lg);
}
dialog[open] {
    translate: 0 0;
    opacity: 1;
    @starting-style {
        opacity: 0;
        translate: 0 -25vh;
    }
}
dialog::backdrop {
    background: var(--background-color);
    opacity: 0.9;
    backdrop-filter: blur(4px);
}