.container {
    max-width: 72rem;
    margin-inline: auto;
    padding-inline: 1rem;
    border: var(--border);
    box-shadow: var(--shadow-md);
}
@media (min-width: 768px) {
    .container {
        padding-inline: 2rem;
    }
}