.container {
    /* Configuration */
    --container-spacing: var(--space-sm);
    --container-bg: inherit;
    --container-color: inherit;
    --container-height: auto;
    --container-width: 100%;

    /* Layout and spacing */
    max-width: 72rem;
    margin-inline: auto;
    padding-inline: var(--container-spacing);

    /* Colors */
    background-color: var(--container-bg);
    color: var(--container-color);
}
.container-fluid {
    /* Configuration */
    --container-fluid-bg: inherit;
    --container-fluid-color: inherit;
    --container-fluid-height: auto;
    --container-fluid-width: 100%;

    /* Layout and spacing */
    max-width: var(--container-fluid-width);
    margin-inline: auto;
    padding-inline: 0;

    /* Colors */
    background-color: var(--container-fluid-bg);
    color: var(--container-fluid-color);
}
.two-col {
    display: grid;
}
@media (min-width: 768px) {
    .two-col {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}