html {
    scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
    html {
    scroll-behavior: auto;
    }
}
body {
    color: var(--text-color);
    background-color: var(--color-white);
    font-family: var(--font-body);
}